server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    root: info
    org:
      springframework:
        boot : info
        security : debug
        web : info
    kr.co.playplace: debug

spring:
  batch:
    job:
      enabled: false

cloud:
  aws:
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    s3:
      bucket: playplacebucket
    region:
      static: ap-northeast-2
    stack:
      auto: false

geocoder:
  api-key: ${GEOCODER_API_KEY}
weather:
  service-key: ${WEATHER_SERVICE_KEY}
youtube:
  api-key: ${YOUTUBE_API_KEY}